body{
	width: 800px;
	margin:20px auto;
}

div.section{
	border-bottom:1px solid #ccc;
	padding-bottom: 10px;
}

img.product_img{
	margin-left:10px
}

div.item{
	overflow:hidden;
	padding-bottom:10px;
	border-bottom: 1px dashed #ccc;
	margin-bottom: 10px;
}

.bold{
	font-weight: bold;
}